body
{
	display:body;
}

p
{
	display: block;
	margin: 0 auto;
	font-family: Consolas;
	font-weight: 900;
	font-size: 1.5em;
	
}
button
{
	display: block;
	margin: 10%;
	width: 200px;
	height: 50px;
	border: 2px solid #333;
	background-color: none;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	text-align: center;
	color: #333;

    
    transition: 0.4s;
}

button:hover
{
	display: block;
	margin: 10%;
	width: 200px;
	height: 50px;
	border: 2px solid #333;
	background-color: #333;
	border-radius: 7px;
	text-align: center;
	color: #fff;
	cursor: pointer
	
	
}